[submodule ".vim/pack/swift/start/swift.vim"]
	path = vim/pack/swift/start/swift.vim
	url = https://github.com/keith/swift.vim
[submodule ".vim/pack/ui/start/fzf"]
	path = vim/pack/ui/start/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/pack/kotlin/start/kotlin-vim"]
	path = vim/pack/kotlin/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule ".vim/pack/ui/start/syntastic"]
	path = vim/pack/ui/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".vim/pack/js/start/vim-javascript"]
	path = vim/pack/javascript/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/typescript/start/typescript-vim"]
	path = vim/pack/typescript/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/ui/start/gitgutter"]
	path = vim/pack/ui/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
