[submodule ".vim/pack/swift/start/swift.vim"]
	path = vim/pack/swift/start/swift.vim
	url = https://github.com/keith/swift.vim
[submodule ".vim/pack/ui/start/fzf"]
	path = vim/pack/ui/start/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/pack/kotlin/start/kotlin-vim"]
	path = vim/pack/kotlin/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule ".vim/pack/js/start/vim-javascript"]
	path = vim/pack/javascript/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/typescript/start/typescript-vim"]
	path = vim/pack/typescript/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/ui/start/gitgutter"]
	path = vim/pack/ui/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/ui/start/lightline"]
	path = vim/pack/ui/start/lightline
	url = https://www.github.com/itchyny/lightline.vim
[submodule "vim/pack/ui/start/illuminate"]
	path = vim/pack/ui/start/illuminate
	url = https://github.com/RRethy/vim-illuminate
[submodule "vim/pack/navigation/start/wordmotion"]
	path = vim/pack/navigation/start/wordmotion
	url = https://github.com/chaoren/vim-wordmotion
[submodule "vim/pack/elm/start/elm-vim"]
	path = vim/pack/elm/start/elm-vim
	url = https://github.com/ElmCast/elm-vim
[submodule "vim/pack/idris/start/idris-vim"]
	path = vim/pack/idris/start/idris-vim
	url = https://github.com/idris-hackers/idris-vim.git
[submodule "vim/pack/ui/start/coc.nvim"]
	path = vim/pack/ui/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/pack/haskell/start/haskell-vim"]
	path = vim/pack/haskell/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "vim/pack/xcode/start/vim-pbxproj"]
	path = vim/pack/xcode/start/vim-pbxproj
	url = https://github.com/cfdrake/vim-pbxproj
[submodule "vim/pack/git/start/vim-fugitive"]
	path = vim/pack/git/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/dhall/start/dhall-vim"]
	path = vim/pack/dhall/start/dhall-vim
	url = https://github.com/vmchale/dhall-vim
[submodule "vim/pack/rust/start/rust.vim"]
	path = vim/pack/rust/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/pack/haskell/start/vim-stylish-haskell"]
	path = vim/pack/haskell/start/vim-stylish-haskell
	url = https://github.com/nbouscal/vim-stylish-haskell
[submodule "vim/pack/futhark/start/futhark-vim"]
	path = vim/pack/futhark/start/futhark-vim
	url = https://github.com/BeneCollyridam/futhark-vim
[submodule "vim/pack/ui/start/ale"]
	path = vim/pack/ui/start/ale
	url = https://github.com/dense-analysis/ale
